* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #E3E3E3;
  font-family: Kanit, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
/*-- carousel box --*/
#carousel {
  position: relative;
  overflow: hidden;
  height: 612px;
  width: 612px;
  margin: auto;
  border: 5px groove #484E4F;
}
/*-- image classes --*/
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.current {
  opacity: 1;
}
.caption {
  color: #FDF6BB;
  position: absolute;
  padding: 20px;
  bottom: 5px;
  left: 0;
  right: 0;
}
/*-- buttons --*/
#buttons {
  position: absolute;
  left: 0;
  right: 0;
}
.button-style {
  cursor: pointer;
  color: #484E4F;
  background: #F6F6F8;
  border-radius: 5%;
  font-weight: bold;
  width: 10em;
  padding: 10px;
}
.button-style:hover {
  background: grey;
}
.icon {
  font-size: 1.2em;
}

/*-- images --*/
.slide:first-child {
  background-image: url('../images/mumAndDad.jpg')
}
.slide:nth-child(2) {
  background-image: url('../images/meGirls.png')
}
.slide:nth-child(3) {
  background-image: url('../images/meGran.jpg')
}
.slide:nth-child(4) {
  background-image: url('../images/manchowTomkat.jpg')
}
.slide:nth-child(5) {
  background-image: url('../images/jame.jpg')
}
