body {
  background: #F6F6F8;
  color: #484E4F;
  font-family: Kanit, sans-serif;
  margin: 0;
  padding: 5;
}
header {
  background: #E3E3E3;
  padding: 40px 20px 10px 20px;
  margin-top: 20px;
}
section {
  background: inherit;
  padding: 20px;
}
div {
  background: #E3E3E3;
  padding: 5px 10px;
  margin: 10px;
}
footer {
  background: #E3E3E3;
  padding: 10px 20px;
}
a {
  color: #C60021;
  text-decoration: none;
}
h2 {
  color: #C60021;
  text-align: center;
}
p {
  text-align: justify;
}

/*---------- nav bar ----------*/
.nav-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.nav-li {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 15px;
  padding-left: 15px;
}
.nav-li:hover {
  transform: scale(1.2);
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px;
  padding: 0;
  border-top: 2px solid #484E4F;
  border-bottom: 2px solid #484E4F;
  background: #F6F6F8;
}

/*---------- header section ----------*/
.header-img {
  width: 150px;
  margin: 5px 10px;
  float: left;
  border-radius: 10%;
  display: inline-block;
  position: relative;
  top: 10px;
}
.header-text {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 0px;
}
.hello-world-header {
  text-align: center;
  font-style: italic;
  font-size: 4vw;
  margin: 0;
  background-color: #F6F6F8;
  border: 2px solid #484E4F;
}
.section-text {
  padding: 5px 15px;
}

/*---------- image carousel ----------*/
#carousel-box {
  box-sizing: border-box;
}
#carousel {
  position: relative;
  overflow: hidden;
  height: 612px;
  width: 612px;
  margin: auto;
  border: 5px groove #484E4F;
}
/*-- carousel styles --*/
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.current {
  opacity: 1;
}
.slide-caption {
  color: #FDF6BB;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  padding: 20px;
  bottom: 5px;
  left: 0;
  right: 0;
}
/*-- buttons --*/
.button-style {
  cursor: pointer;
  color: #484E4F;
  background: #F6F6F8;
  border-radius: 5%;
  font-weight: bold;
  width: 5em;
  padding: 10px;
}
.button-style:hover {
  background: grey;
}
.pause-button {
  font-size: 1.2em;
}
/*-- carousel images --*/
.slide:first-child {
  background: url('../images/mumAndDad.jpg') no-repeat;
}
.slide:nth-child(2) {
  background: url('../images/meGirls.png') no-repeat;
}
.slide:nth-child(3) {
  background: url('../images/meGran.jpg') no-repeat;
}
.slide:nth-child(4) {
  background: url('../images/manchowTomkat.jpg') no-repeat;
}
.slide:nth-child(5) {
  background: url('../images/jame.jpg') no-repeat;
}

/*---------- links ----------*/
.links {
  text-align: center;
  padding-top: 0px;
}
.links-figure {
  display: inline-block;
}
.links-figcap {
  color: #C60021;
}
.links-icon:hover {
  transform: scale(1.2);
}
.links-icon {
  background: white;
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  border-radius: 50%;
  margin: auto;
}

/*---------- contacts ----------*/
.contact-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.contact-icon {
  width: 75px;
  margin: 0;
}
.contact-icon-figure {
  margin: 15px 75px;
  display: inline-block;
}
.shadow-effect {
  box-shadow: 10px 10px 5px grey;
}
